<div class="department-footer bg-utc-blue-100 text-center mt-12" style="padding-top:36px;padding-bottom:36px;">
	<h2 class="text-3xl">{{ name }}</h2>
	<div>
		<address class="flex-list not-italic text-lg">
			{% if buildingtitle|trim is not empty %}
				<div id="dpt-building" class="utc-dpt dpt-building separate">
					<a href="{{buildinguri}}" title="{{buildingtitle}}" class="hover:bg-white hover:text-utc-blue-700">{{buildingtitle}}</a>
				</div>
			{% endif %}
			{% if mailcode|trim is not empty %}
				<div id="dpt-mail-code" class="utc-dpt dpt-mail-code separate">{{ mailcode }}
				</div>
			{% endif %}
			{% if address|trim is not empty %}
				<div id="dpt-address" class="utc-dpt dpt-address separate">{{address}}</div>
			{% endif %}
			{% if phonenumber|trim is not empty %}
				<div id="dpt-phone" class="utc-dpt dpt-phone separate">
					<i class="fas fa-phone"></i>&nbsp;<a class="dpt-link text-utc-blue-700 hover:bg-white" href="{{phonenumber}}">{{phonenumber}}</a>
				</div>
			{% endif %}
			{% if faxnumber|trim is not empty %}
				<div id="dpt-fax" class="utc-dpt dpt-fax separate">
					<i class="fas fa-fax"></i>&nbsp;<a class="dpt-link text-utc-blue-700 hover:bg-white" href="{{faxnumber}}">{{faxnumber}}</a>
				</div>
			{% endif %}
		</address>
	</div>
	<div class="mt-6">
		<ul class="inline horizontal">
			{% if homepage|trim is not empty %}
				<li class="inline horizontal px-2">
					<a class="text-utc-blue-700 hover:text-utc-gold-500" href={{homepage}} target="_self" aria-label="Go to our departmental homepage" title="Go to our departmental homepage">
						<span class="fa fa-home fa-2x"></span>
					</a>
				</li>
			{% endif %}
			{% if linkedin|trim is not empty %}
				<li class="inline horizontal px-2">
					<a class="text-utc-blue-700 hover:text-utc-gold-500" href={{linkedin}} target="_self" aria-label="Find us on LinkedIn" title="Find us on LinkedIn">
						<span class="fa fa-linkedin fa-2x"></span>
					</a>
				</li>
			{% endif %}
			{% if youtube|trim is not empty %}
				<li class="inline horizontal px-2">
					<a class="text-utc-blue-700 hover:text-utc-gold-500" href={{youtube}} target="_self" aria-label="Find us on YouTube" title="Find us on YouTube">
						<span class="fa fa-youtube fa-2x"></span>
					</a>
				</li>
			{% endif %}

			{% if twitter|trim is not empty %}
				<li class="inline horizontal px-2">
					<a class="text-utc-blue-700 hover:text-utc-gold-500" href={{twitter}} target="_self" aria-label="Find us on Twitter" title="Find us on Twitter">
						<span class="fa fa-twitter fa-2x"></span>
					</a>
				</li>
			{% endif %}

			{% if instagram|trim is not empty %}
				<li class="inline horizontal px-2">
					<a class="text-utc-blue-700 hover:text-utc-gold-500" href={{instagram}} target="_self" aria-label="Find us on Instagram" title="Find us on Instagram">
						<span class="fa fa-instagram fa-2x"></span>
					</a>
				</li>
			{% endif %}
			{% if facebook|trim is not empty %}
				<li class="inline horizontal px-2">
					<a class="text-utc-blue-700 hover:text-utc-gold-500" href={{facebook}} target="_self" aria-label="Find us on facebook" title="Find us on facebook">
						<span class="fa fa-facebook fa-2x"></span>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
	{% if officehours is not empty %}
		<div class="department--hours">
			{# {% for officehour in officehours %} #}
				{# TODO It works but the dates need to be tweaked. #}
				{# <p>{{ officehour.loop.index.day|date("l") }}</p>
				<li>{{ officehour.starthours }}</li>
				<li>{{ officehour.endhours }}</li>
			{% endfor %}
			{% for key, officehour in officehours %}
				<li>{{ key }}:
					{{ officehour.day }}</li>
			{% endfor %} #}
		</div>
	{% endif %}

</div>
